.wrap { position: relative; max-width: 768px; margin: 0 auto; }
.gnb { position: fixed; z-index: 9999; width: 100%; max-width: 768px; margin: 0 auto; background-color: #fff; box-shadow: 0 1px 17px rgba(0, 0, 0, .15); padding: 17px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: padding-box; -moz-box-sizing: padding-box; box-sizing: padding-box; text-align: center; font-family: 'NanumSquare', 'Noto Sans KR'; font-weight: 800; font-size: 18px; line-height: 1.2; color: #000;}
.close { position: absolute; right: 20px; top: 15px; color: #000;}

.con_bx { padding: 80px 20px 30px 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: padding-box; -moz-box-sizing: padding-box; box-sizing: padding-box;}
#container_title { width: 100%; position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; text-align: center; margin-bottom: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: padding-box; -moz-box-sizing: padding-box; box-sizing: padding-box; }  
#container_title hr {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 5px 0;
	border: 0;
    border-top: 1px solid #e4e4e4;
	box-sizing: content-box;
	display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
	text-align: center;
	z-index: 9990;
}

#container_title h3 {
    font-family: 'NanumSquare', 'Noto Sans KR'; font-weight:400; letter-spacing: -1px;
    max-width: 80%;
    display: inline-block;
    position: relative;
    text-align: center;
	background-color: #fff;
    color: #939499;
    padding-left: 10px;
    padding-right: 10px;
	font-size: 12px;
	line-height: 1.2;
	margin-top: 9px;
    margin-bottom: 0px;
	z-index: 9991;
}
.caht01 { position: relative;}
.lgo { width: 25px; position: absolute; left: 0; top: 0; }
.caht_g { padding: 0 0 0 35px; }
.name { font-family: 'NanumSquare', 'Noto Sans KR'; font-weight:400; letter-spacing: -1px; font-size: 12px; line-height: 1.2; color: #000; margin: 0 0 5px 0;}
.time { font-family: 'NanumSquare', 'Noto Sans KR'; font-weight:400; letter-spacing: -1px; font-size: 12px; line-height: 1.2; color: #939499; position: absolute; right: -40px; bottom: 0;}
.cmt_g { position: relative; padding: 13px 15px; background-color: #f5f6fa; border-radius: 20px; margin-right: 40px; display: inline-block;}
.txt01 { font-family: 'NanumSquare', 'Noto Sans KR'; font-weight:400; letter-spacing: -1px; font-size: 13px; line-height: 1.3; color: #000; }
.tlk_g { position: absolute; left: -2px; top: 2px; width: 11px;}
a.btn_01 {display:inline-block; padding:10px 15px; text-align: center; border-radius: 50px; min-width: 160px; background:#6e40ff; color:#fff; font-family: 'NanumSquare', 'Noto Sans KR'; font-weight:400; font-size: 14px; line-height: 1.3; vertical-align: middle; letter-spacing: -1px; }
a.btn_01:focus, .btn_01:hover { background:#d23373; }
.cmt_w { background-color: #fff!important; border: 1px solid #e8e9ed; float: right; margin-right: 0!important;}
.tlk_w { position: absolute; right: -2px; top: 2px; width: 11px; }
.time02 { left: -40px!important; right: 0!important; }
.send_bx { border-top: 2px solid #f5f6fa; background-color: #fff; position: fixed; bottom: 0; width: 100%;max-width: 768px; margin: 0 auto;}
.inp01 {height:55px; padding: 20px 68px 20px 18px; font-family: 'NanumSquare', 'Noto Sans KR'; font-weight: 400; font-size: 13px; letter-spacing: -1px; line-height: 1.2; color: #919191; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: padding-box; -moz-box-sizing: padding-box; box-sizing: padding-box; width: 100%; border: 0; }
.send_btn {position: absolute; right: 0; top: -2px; width: 58px;}


